@model Jobtech.OpenPlatforms.MockGigPlatform.Api.Controllers.HomeController.HomeIndexViewModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <p>I gig this! <a href="/dummy">Add dummy users</a></p>
    <h2>Users from GigCentral</h2>
    <ul>
        @foreach (var u in Model.GigCentralUsers)
        {
            <li>
                @u.Name (@u.Email)
            </li>
        }
    </ul>
    <h2>Users on Mock Platform</h2>
    <ul>
        @foreach (var u in Model.MockPlatformUsers)
        {
            <li>
                @u.Id @u.UserEmail
            </li>
        }
    </ul>
</body>
</html>
